<h2>🎬 Welcome to The Watcher App</h2>

<p>Track all the movies and shows you're watching, want to watch, have already watched, or any recommendations.</p>

<% if (!currentUser) { %>
  <a href="/users/signup" class="btn">Get Started</a>
<% } else { %>
  <a href="/watchlist" class="btn">Go to My WatchList</a>
<% } %>

